# Basic Pyhton

Starting with the Data Types

As every body knows the what is data type and that are Integer, Floating Point, String, List, Dictonaries, Tuples, Sets and Booleans.

## 1) Numbers with basic arithmetic operation

In [1]:
2+1 #Addition

3

In [2]:
2-1 #Subtraction

1

In [3]:
2*2 #Multiplication

4

In [4]:
3/2 #Division

1.5

### Mathematical Operator 
Modulo or "Mod" Operator

In [5]:
7/4

1.75

In [6]:
7 % 4 #Finding Reminder

3

In [7]:
23 % 2 #finding even or odd number 1 means odd and 0 means even that don't have reminder

1

In [8]:
20 % 2

0

### Power

In [9]:
2 ** 3

8

### Assigning Variables

In [10]:
a = 2 #Assigning Value

In [11]:
a

2

In [12]:
a = a + a

In [13]:
a

4

In [14]:
type(a) #if we have to know the what type of the variable

int

In [15]:
a = 1.2

In [16]:
type(a) #checking the type of the variable

float

## 2) String

For string index position will start from 0

In [17]:
print('Hello') #Single Quotes
print("Hello") #Double Quotes
print("Hello, I'm Python") #If we have to use single quote so, use the double quote

Hello
Hello
Hello, I'm Python

In [18]:
len('Hello') #use for checking length

5

### Indexing and slicing with string

In [19]:
A = "Hello World"

In [20]:
A

'Hello World'

In [21]:
A[0] #if you wants to grab single caracter from the string

'H'

In [22]:
A[8] #beacuse it is counting space also

'r'

In [23]:
A[-2] #Reverse Indexing

'l'

In [24]:
B = 'ABCDEFGHIJKLMN'

In [25]:
B

'ABCDEFGHIJKLMN'

In [26]:
B[2:] #grabe the alphabets with indexing 2 to till end of the string

'CDEFGHIJKLMN'

In [27]:
B[:3] #stop is upto but not inculding

'ABC'

In [28]:
B[2:6] #if we wants in between

'CDEF'

In [29]:
B[::] #if you wants to grab the whole string

'ABCDEFGHIJKLMN'

In [30]:
B[::2] #it will skip 1 (step size)

'ACEGIKM'

In [31]:
B[2:7:2] #it will start stop and step size

'CEG'

In [32]:
B[::-2] #reverse step size

'NLJHFDB'

### String Properties and Methods

In [33]:
Name = "Happy" #assign string

In [34]:
Name

'Happy'

In [35]:
L= Name[1:] #grab the appy

In [36]:
L

'appy'

In [37]:
'S' + L #string concatination or merge

'Sappy'

In [38]:
A = 'My name is' #another example

In [39]:
A + ' Python'

'My name is Python'

### String Methods

In [40]:
A = 'Python'

In [41]:
A

'Python'

In [42]:
A.upper() #upper case

'PYTHON'

If you wants to see all the methods of string press tab after the dot( for example A.tab)

In [43]:
B = 'This is some example of the python'
B.split() #split by the white space

['This', 'is', 'some', 'example', 'of', 'the', 'python']

In [44]:
B.split('h') #split by the letter

['T', 'is is some example of t', 'e pyt', 'on']

### .fromat() method

In [45]:
print('This is example with {}'.format('PYTHON STRING')) #inserting string

This is example with PYTHON STRING

In [46]:
print('This is example with {} {}'.format('PYTHON', 'STRING')) #it should be same order

This is example with PYTHON STRING

In [47]:
print('This is example with {0} {0}'.format('PYTHON', 'STRING')) #inserting with index number

This is example with PYTHON PYTHON

In [48]:
print('This is example with {p} {p}'.format(p = 'PYTHON', s = 'STRING')) #inserting with asign name

This is example with PYTHON PYTHON

## 3) Lists

In [49]:
my_list = ['String', 1, 1.1] #example of list

In [50]:
len(my_list) #lenght of list

3

Slicing and indexing will work like String

In [51]:
mylist = ['one', 'two', 'three', 'four', 'five']

In [52]:
mylist[0] #0 index

'one'

In [53]:
mylist[1:] #after 1 index

['two', 'three', 'four', 'five']

In [54]:
list1 = ['six', 'seven']

In [55]:
list2 = mylist + list1 #concatination

In [56]:
list2

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [57]:
list2.append('eight') #adding new string

In [58]:
list2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
list2.pop() #rmoving last string

'eight'

## 4) Dictionaries

In [60]:
dict1 = {'key1': 'val1', 'key2':'val2'} #syntax

In [61]:
dict1

{'key1': 'val1', 'key2': 'val2'}

In [62]:
dict1['key1'] #findig value of key 1

'val1'

In [63]:
lookup1 = {'grapes': 3.00, 'orange': 5.00} #example price lookup for fruit

In [64]:
lookup1['grapes'] #check the price

3.0

In [65]:
dict2 = {'key1':123, 'key2':[0,1,2], 'key3':{'key4':123}} #defining list and inside key in dictionaries

In [66]:
dict2['key3']['key4'] #getting inside dict key value

123

In [67]:
dict2['key2'][1] #getting inside list value

1

## 5) Tuples

In [68]:
t = (1,2,3) #syntax

In [69]:
type(t) #finding what is type of t

tuple

In [70]:
len(t) #length of t

3

In [71]:
t = ('happy', 1) #you can defind string and number

In [72]:
t = ('h', 'h', 'h', 'k')

In [73]:
t.count('h') #count method will count how many times 'h' is there in tuple

3

In [74]:
t.index('h') #return the first index

0

## 6) Sets

In [75]:
s = set() #defining set

In [76]:
s #empty set

set()

In [77]:
s.add(1)

In [78]:
s

{1}

In [79]:
s.add(2)

In [80]:
s

{1, 2}

In [81]:
s.add(2)

In [82]:
s #set accepts only unique values

{1, 2}

## 7) Booleans

In [83]:
True #1st type

True

In [84]:
False #2nd type

False

In [85]:
type(True)

bool

In [86]:
1 > 2

False

In [87]:
1 == 1

True